@font-face {
  font-family: Montserrat;
  src: url('fonts/montserrat/Montserrat-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Raleway;
  src: url('fonts/raleway/Raleway-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Raleway;
  src: url('fonts/raleway/Raleway-Bold.ttf');
  font-weight: bold;
}

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	position: relative;
	z-index: -1;
	top: -60px;
	font-family: Montserrat, sans-serif;
	font-weight: normal;
	color: #231F26;
}

h2 {
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	margin: 0;
}

p, table {
	font-family: Raleway, sans-serif;
	font-weight: normal;
}

strong {
	font-weight: bold;
}


/* HEADER */
header {
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	height: 60px;
	position: relative;
	z-index: 100;
	top: 60px;
	max-width: 1200px;
	margin: 0 auto;
}

.logo {
	margin: 0;
	background: url('/img/logo.svg') 0 0 no-repeat;
	background-size: 140px 32px;
	width: 140px;
	height: 32px;
	text-indent: -9999px;
	margin: 15px 0 0 15px;
}

nav ul {
	padding-left: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

nav ul li a {
	text-decoration: none;
	white-space: nowrap;
	color:  #ffffff;
	line-height: 68px;
	padding: 0 20px;
	font-size: 14px;
}

nav a:hover {
	color: #6D3F96;
}



/* HERO */
.hero {
	background: url('/img/header-bg.jpg') top center no-repeat;
	background-size: cover;
	text-align: center;
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-content {
	max-width: 60%;
	color:  #ffffff;
}

.hero-content h2 {
	color: #ffffff;
	font-size: 38px;
	margin-bottom: 30px;
}

.hero-content p {
	color: #ffffff;
	color: rgba(255, 255, 255, .8);
	line-height: 24px;
}

.btn {
	padding: 20px 40px;
	text-transform: uppercase;
	font-size: 10px;
	text-decoration: none;
	border-radius: 5px;
	margin: 40px 10px 0 10px;
	display: inline-block;
}

.btn-white {
	background-color: white;
	color:  #231F26;
}

.btn-green {
	background-color: #70CBCE;
	color: white;
}

.btn.btn-white:hover,
.btn.btn-green:hover {
	background-color: #6D3F96;
	color: white;
}



/* SNOW */
.snow {
	/* background: #2E2B62 url('/img/be-the-first-bg.jpg') center top no-repeat; */
	/* background-size: cover; */
	background-image: linear-gradient(#1B2352 10%, #6F4199);
	text-align: center;
	color:  white;
	padding-top: 200px;
	position: relative;
	z-index: 1;
}

.snow:after {
	content: "";
	display: inline-block;
	background: url('img/logo.svg') center bottom no-repeat;
	background-size: cover;
	width: 100%;
	max-width: 1280px;
	height: 293px;
	position: relative;
	bottom: -180px;
	opacity: .2;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	overflow: hidden;
}

.snow h2,
.price h2 {
	font-size: 30px;
	margin-bottom: 10px;
}

.snow p,
.price p {
	color: #ffffff;
	color: rgba(255, 255, 255, .8);
	line-height: 24px;
	max-width: 60%;
	margin: 0 auto;
}

.snow img {
	width: 100%;
	max-width: 280px;
	position: absolute;
	z-index: 3;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	bottom: -133px;
}



/* FEATURE */
.feature {
	display: flex;
	padding: 150px 0;
	max-width: 1200px;
	margin: 0 auto;
}

.feature .col {
	flex: 1;
	margin: 0 15px;
	border-top:  3px solid #70CBCE;
	padding-right: 40px;
}

.feature .col:nth-child(1) { border-color: #2E2B62 }
.feature .col:nth-child(2) { border-color: #70CBCE }
.feature .col:nth-child(3) { border-color: #FDC05D }

.feature h3 {
	font-size: 16px;
	margin: 30px 0 20px 0;
}

.feature p {
	font-size: 14px;
	color: #959799;
	line-height: 18px;
	text-align: justify;
}


/* PRICE */
.price {
	background-color: #70CBCE;
	color: white;
	text-align: center;
	padding: 120px 0;
}

table {
	margin: 50px auto;
	max-width: 280px;
	border-spacing: 0;
}

thead,
tbody tr:first-child {
	background-color: #231F26;
}

tbody, tfoot {
	background-color: white;
	color: black;
}

th, td {
	padding: 0;
}

th {
	border-radius: 5px 5px 0 0;
	padding: 10px 0;
}

table h3 {
	margin: 0;
	font-size: 10px;
	color: rgba(255, 255, 255, 0.8);
	font-weight: normal;
}

table h4 {
	margin: 0;
	font-size: 30px;
	color: white;
}

table h4 span {
	font-size: 26px;
	color: #959799
}

tbody tr td {
	border-bottom: 1px dotted rgba(0, 0, 0, .1);
	font-size: 12px;
	padding: 15px 0;
}

tbody tr:nth-child(2) td {
	font-size: 10px;
	line-height: 14px;
	color: #959799;
	padding-left: 30px;
	padding-right: 30px;
}

tfoot tr td a {
	padding: 15px;
	display: block;
	color: #70CBCE;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
}

tfoot a:hover,
footer a:hover {
	color: #6D3F96;
}



/* FOOTER */

footer {
	display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #959799;
    font-size: 12px;
}

footer a {
	color: #959799;
	padding: 4px;
}



/* MOBILE */

@media (max-width: 600px) {
	nav ul li a {
		padding: 0 10px;
	}

	.hero {
		height: 100vh;
	}

	.hero-content {
		max-width: 80%;
	}

	.hero .btn {
		margin-top: 20px;
	}

	.feature {
		flex-direction: column;
	}

	.feature .col {
		margin-top: 40px
	}

	footer {
		flex-direction: column;
		align-items: center;
	}
}
